
html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}

body {
  font-family: 'Oxygen', 'Verdana', sans-serif;
  background: #cadcf7;
  color: #000;
}

article {
    max-width: 800px;
    margin: auto;
  }

  h1, #byline {
    text-align: center;
  }

h1 {
  margin: 1rem 2rem 1rem 2rem;
}

#text {
  margin-left: 2rem;
  margin-right: 2rem;
}
#container {
  max-width: 100%;
  height: 400px;
  margin: 2rem;
}

#container2 {
  max-width: 100%;
  height: 400px;
  margin: 2rem;
}

#caption {
  margin: 0rem 3rem;
  text-align: center;
}

#secondcaption {
  margin: 0rem 3rem 2rem 3rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  article {
    margin: 1rem;
  }
}
